<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body class="">
    <nav class="navbar">
        <h4>
            @ViewBag.Title
        </h4> 
        <a class="pull-right" asp-action="Logout" asp-controller="Account">Log Out</a>
    </nav>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>